<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uniks.fsmsim"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />
    
   	<compatible-screens>
   	    <!-- all normal size screens -->
	   <screen android:screenSize="normal" android:screenDensity="mdpi" />
	   <screen android:screenSize="normal" android:screenDensity="hdpi" />
	   <screen android:screenSize="normal" android:screenDensity="xhdpi" />
	   <!-- all large size screens -->
	   <screen android:screenSize="large" android:screenDensity="mdpi" />
	   <screen android:screenSize="large" android:screenDensity="hdpi" />
	   <screen android:screenSize="large" android:screenDensity="xhdpi" />
	   <!-- all xlarge size screens -->
	   <screen android:screenSize="xlarge" android:screenDensity="mdpi" />
	   <screen android:screenSize="xlarge" android:screenDensity="hdpi" />
	   <screen android:screenSize="xlarge" android:screenDensity="xhdpi" />
	</compatible-screens>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_fsmicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.uniks.fsmsim.MainActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GraphActivity"
            android:label="@string/screen_graph"
            android:screenOrientation="sensorLandscape" >
            <!--android:theme="@android:style/Theme.Holo.Light.NoActionBar"-->
            
        </activity>
        <activity
            android:name=".SaveActivity"
            android:label="@string/popup_save"
            android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity
            android:name=".LoadActivity"
            android:label="@string/popup_save"
            android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity 
            android:name=".TransitionTableActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".TransitionPopUp"
            android:label="@string/app_name"
            android:theme = "@android:style/Theme.Holo.Light.Dialog">
        </activity>
    </application>
    
</manifest>